<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="JSON_Jam.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="JSON_Joy.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <JSON_Jam.Properties.Settings>
            <setting name="DATA_DIRECTORY_NAME" serializeAs="String">
                <value>..\..\..\Test_Data</value>
            </setting>
            <setting name="JSON_INPUT_FILE_NAME" serializeAs="String">
                <value>strResponse_Raw_20190508_181920.JSON</value>
            </setting>
            <setting name="JSON_INTERMEDIATE_FILE_NAME" serializeAs="String">
                <value>strResponse_Intermediate.TXT</value>
            </setting>
            <setting name="JSON_FINAL_FILE_NAME" serializeAs="String">
                <value>strResponse_FINAL.TXT</value>
            </setting>
            <setting name="JSON_CONTENTS_REPORT_FILE_NAME" serializeAs="String">
                <value>strResponse_Contents.TXT</value>
            </setting>
        </JSON_Jam.Properties.Settings>
        <JSON_Joy.Properties.Settings>
            <setting name="DATA_DIRECTORY_NAME" serializeAs="String">
                <value>..\..\..\Test_Data</value>
            </setting>
            <setting name="JSON_INPUT_FILE_NAME" serializeAs="String">
                <value>strResponse_Raw_20190508_181920.TXT</value>
            </setting>
            <setting name="JSON_INTERMEDIATE_FILE_NAME" serializeAs="String">
                <value>strResponse_Intermediate.TXT</value>
            </setting>
            <setting name="JSON_FINAL_FILE_NAME" serializeAs="String">
                <value>strResponse_FINAL.TXT</value>
            </setting>
            <setting name="JSON_CONTENTS_REPORT_FILE_NAME" serializeAs="String">
                <value>strResponse_Contents.TXT</value>
            </setting>
        </JSON_Joy.Properties.Settings>
    </applicationSettings>
</configuration>